<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249723010235-epusqiqandgngtcpf06pmnliubgcp13p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249723010235-epusqiqandgngtcpf06pmnliubgcp13p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>249723010235-15gh6kr5o5b97udh2pi97c7e1kv9sc89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWY39M70d0j6JOygeqB5GSvJKlVagmexU</string>
	<key>GCM_SENDER_ID</key>
	<string>249723010235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prayerRoomLocator</string>
	<key>PROJECT_ID</key>
	<string>prayer-room-locator</string>
	<key>STORAGE_BUCKET</key>
	<string>prayer-room-locator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249723010235:ios:37151c51434b40560b3d9e</string>
</dict>
</plist>